source https://api.nuget.org/v3/index.json
storage: none
framework: netcoreapp3.1, netstandard2.0

nuget FSharp.Core

// client
nuget Fable.Core
nuget Fable.Elmish.Debugger
nuget Thoth.Json = 3.5.0
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Feliz
nuget Feliz.Router
nuget Feliz.UseElmish
nuget Feliz.Bulma
nuget Feliz.Bulma.Checkradio
nuget Feliz.Bulma.PageLoader
nuget Feliz.Bulma.QuickView
nuget Feliz.Bulma.Calendar
nuget Feliz.Bulma.Popover
nuget Elmish.SweetAlert
nuget Elmish.Toastr
nuget Fable.Remoting.Client

// libraries
nuget TaskBuilder.fs
nuget Mailjet.Api
nuget System.IdentityModel.Tokens.Jwt

// server
nuget Microsoft.Azure.Functions.Extensions
nuget Microsoft.NET.Sdk.Functions
nuget Giraffe
nuget Fable.Remoting.Giraffe
github Dzoukr/FSharp.Rop FSharp.Rop.Result.fs
github Dzoukr/FSharp.Rop FSharp.Rop.TaskResult.fs
nuget Dapper.FSharp
nuget Microsoft.Data.SqlClient
nuget Serilog.Sinks.MSSqlServer
nuget MailChimp.Net.V3

// tools
nuget dbup-sqlserver

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem