version 5.206.0
group Shared
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none
    nuget FSharp.Core
    github Dzoukr/FSharp.Rop FSharp.Rop.fs

group Tools
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    nuget FSharp.Compiler.Tools

group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget Giraffe
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Fable.Remoting.Giraffe

group Core
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget CosmoStore.TableStorage
    nuget Newtonsoft.Json
    nuget SQLProvider
    nuget System.Data.SqlClient
    nuget Fue
    
    github Dzoukr/FSharp.Rop FSharp.Rop.fs

group Libraries
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Newtonsoft.Json
    nuget WindowsAzure.Storage
    nuget TaskBuilder.fs
    nuget Mailjet.Api
    nuget System.IdentityModel.Tokens.Jwt
    github Dzoukr/FSharp.Rop FSharp.Rop.fs

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 2
    nuget Fable.Elmish ~> 2
    nuget Fable.Elmish.Debugger ~> 2
    nuget Fable.Elmish.React ~> 2
    nuget Fable.Elmish.HMR ~> 3
    nuget Fable.React ~> 4
    nuget Fable.Elmish.Browser ~> 2
    nuget Fable.Remoting.Client
    nuget Fulma ~> 1
    nuget Fulma.Extensions.Wikiki.Quickview
    nuget Thoth.Elmish.Toast
    clitool dotnet-fable ~> 2

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core //4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

group Migrations
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget dbup-sqlserver

group EventStoreBackup
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget CosmoStore.TableStorage
    nuget Microsoft.FSharpLu.Json