@import "bulma-popover.scss";

body {

}

.field .label {
    text-align: left;    
}

.cal-control .column {
    text-align: center;

    button {
        margin-left: 0.3rem;
    }
}

.cal-day .column {
    text-align: center;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.cal-day .column:last-child {
    border-right: 1px solid gainsboro;
}

.cal-lessons .column {
    border-left: 1px solid gainsboro;
}

.cal-lessons .column:last-child {
    border-right: 1px solid gainsboro;
}

.popover {
    min-width: 100%;
}


.lesson-overview {
    padding: 0.5rem;
    background-color: #c4dbe2;
    margin-top: 3rem;
    border-radius: 0.5rem;
    text-align: center;
    
    .time {
        margin-bottom: 1rem; 
        
    }
    
    .name {
        font-weight: 500;
        margin-bottom: 2rem; 
    }

    .availability {
    }
    
}