.terms {
    text-align: left;
    h2 {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    ol {
        padding-left: 1rem;
    }
    p, li {
        margin-bottom: 1rem;
    }
}

.terms-link {
    font-weight: 500;
}